<h2>Perfil Candidato</h2>
<br>
<br>
<% if user_signed_in? %> 

    Olá <%= current_user.email %>
    <br>
    <br>
    <br>
    <%= form_with url: search_profiles_path, local: true, method: :get do %>
        <%= label_tag(:q, 'Pesquisar Canditato') %>
        <%= text_field_tag(:q) %>
        <%= submit_tag 'Buscar' %>
    <% end %>
    <br>
    <br>
    <% if @profiles.empty? %>
        Não existem perfis cadastrados
    <% end %>
    <br>
    <br>
    <% @profiles.each do |profile| %>
        <%= link_to profile.name, profile_path(profile) %><br>
    <% end %>

<% end %>
<br>
<br>
<%= link_to 'Voltar', root_path %>
