<h1>Perfil</h1>
<h3>
<% if user_signed_in? %> 

    <p>Olá <%= current_user.email %></p><br>

    
    <%= form_with url: search_profiles_path, local: true, method: :get do %>
        <%= label_tag(:q, 'Pesquisar Canditato') %>
        <%= text_field_tag(:q) %>
        <%= submit_tag 'Buscar' %>
    <% end %>

    <% if @profiles.empty? %>
        <p> Não existem perfis cadastrados</p>
    <% end %>

    <% @profiles.each do |profile| %>
        <%= link_to profile.name, profile_path(profile) %><br>
    <% end %>

<% end %>
<br>
<br>
<%= link_to 'Voltar', root_path %>
</h3>