<p>Perfil Candidato</p>
<br>
<p>Email: <%= current_user.email %></p>
<p>Nome: <%= @profile.name %></p>
<p>Nome Social:<%= @profile.social_name %></p>
<p>Endereço: <%= @profile.address %></p>
<p>Celular:<%= @profile.cellphone %></p>
<p>Data Nascimento <%= @profile.date_birth %></p>
<p>Idiomas:<%= @profile.languages %></p>
<p>Instituição de Ensino: <%= @profile.education_institution%></p>
<p>Nivel Educacional:<%= @profile.education_level %></p>
<p>Status do Curso: <%= @profile.education_status %></p>
<p>Curso: <%= @profile.education_course %></p>
<p>Data Conclusão: <%= @profile.education_end_date %></p>
<p>Experiencia Profissional: <%= @profile.experience_company %></p>
<p>Responsabilidades: <%= @profile.experience_reponsibility %></p>
<p>Cargo: <%= @profile.experience_role%></p>
<p>Nivel do Cargo: <%= @profile.joblevel.name %></p>
<p>Habilidades: <%= @profile.skill.name %></p>
<p>Data inicio: <%= @profile.experience_start_date %></p>

<% if @profile.experience_current_position? %>
    <p>Atual Emprego </p>
<% else %>
    <p>Data inicio: <%= @profile.experience_end_date %></p>
<% end %>

<p><%= image_tag @profile.avatar %></p>

<%= link_to 'Voltar', root_path %>
<%= link_to 'Novo Comentario', new_profile_comment_path(@profile) %>
<%= link_to pluralize(@profile.comments.size, 'Comentário', 'Comentários'), profile_comments_path(@profile) %>


<% if current_user.candidate?%>
    <%= link_to 'Editar Perfil', edit_profile_path(@profile) %>
    <%= link_to 'Deletar', profile_path(@profile), method: :delete, data: { confirm: "Confirma exclusão do perfil: #{@profile.name}?" } %>
<% end %>
