<h1>Perfil</h1>
<br>

<h3>Nome: <%= @profile.name %></h3>
<h3>Email: <%= @profile.email %></h3>


<%= link_to 'Voltar', profiles_path %>
<%= link_to 'Editar', edit_profile_path(@profile) %>
<%= link_to 'Deletar', profile_path(@profile), method: :delete, data: { confirm: "Confirma exclusão do perfil: #{@profile.name}?" } %>