<p> Comentando um Perfil</p>
<%= form_for ([@profile, @comment]) do |f| %>
    <p>
        Nome: <%= f.label current_user.email %><br>
        
    </p>
        <%= f.label :rating, "Estrelas" %><br>
        <%= f.select :rating, Comment::RATING , prompt: "Quantas estrelas"%>
    </p>
    </p>
        <%=f.label :comment, "Comentário" %><br>
        <%= f.text_area :comment, placeholder:"Escreva seu comentário" %>
    </p>
    <p>
        <%= f.submit 'Comentar', class:'btn btn-primary' %>
    </p>
<% end %>


