<h3>Vaga </h3>
<h1>Titulo: <%= @job.title %></h1>
<h1>Descrição: <%= @job.description %></h1>

<%= link_to 'Voltar', root_path %>
<%= link_to 'Editar', edit_job_path(@job) %>
<%= link_to 'Deletar', job_path(@job), method: :delete, data: { confirm: "Confirma exclusão da vaga: #{@job.title}?" } %>