<h1>Vaga </h1>
<h3>Titulo: <%= @job.title %></h3>
<h3>Descrição: <%= @job.description %></h3>

<%= link_to 'Voltar', jobs_path %>
<%= link_to 'Editar', edit_job_path(@job) %>
<%= link_to 'Deletar', job_path(@job), method: :delete, data: { confirm: "Confirma exclusão da vaga: #{@job.title}?" } %>