
<% if @joblevel.errors.any? %>
  <div class="alert alert-danger" role="alert">
    <% @joblevel.errors.full_messages.each do |message| %>
      <%= message %>
    <% end %>
  </div>
<% end %>


<%= form_for(joblevel) do |f| %>
  <p>
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.submit class:'btn btn-primary' %>
  </p>
<% end %>
