<h3>
<% if @joblevel.errors.any? %>
  <% @joblevel.errors.full_messages.each do |message| %>
    <%= message %>
  <% end %>
<% end %>


<%= form_for(joblevel) do |f| %>
  <p>
    <%= f.label :name, "Nome" %><br>
    <%= f.text_field :name %>
  </p>
  <p>
     <%= f.submit "Enviar" %>
  </p>
<% end %>
</h3>