<% if @company.errors.any? %>
 <div class="alert alert-primary" role="alert">
  <% @company.errors.full_messages.each do |message| %>
    <%= message %>
  <% end %>
</div>
<% end %>



<%= form_for(company) do |f| %>
  <p>
    <%= f.label :name, "Nome" %><br>
    <%= f.text_field :name %>
  </p>
   <p>
    <%= f.label :cnpj, "CNPJ" %><br>
    <%= f.text_field :cnpj %>
  </p>
   <p>
    <%= f.label :address, "Endereço" %><br>
    <%= f.text_field :address %>
  </p>
  <p>
    <%= f.label :description, "Descrição" %><br>
    <%= f.text_field :description %>
  </p>
  <p>
     <%= f.submit 'Enviar', class:'btn btn-primary' %>
  </p>
<% end %>
