<% if @company.errors.any? %>
 <div class="alert alert-danger" role="alert">
  <% @company.errors.full_messages.each do |message| %>
    <%= message %>
  <% end %>
</div>
<% end %>



<%= form_for(company) do |f| %>
  <p>
    <%= f.label :name, "Nome" %>
    <%= f.text_field :name %><br>
  </p>
   <p>
    <%= f.label :cnpj, "CNPJ" %>
    <%= f.text_field :cnpj %><br>
  </p>
   <p>
    <%= f.label :address, "Endereço" %>
    <%= f.text_field :address %><br>
  </p>
  <p>
    <%= f.label :description, "Descrição" %>
    <%= f.text_field :description %><br>
  </p>
  <p>
     <%= f.submit 'Enviar', class:'btn btn-primary' %>
  </p>
<% end %>
