<p>Empresa </p>

<p>Nome: <%= @company.name %></p>
<p>CNPJ: <%= @company.cnpj %></p>
<p>Endereço: <%= @company.address %></p>
<p>Descrição: <%= @company.description %></p>

<%= link_to 'Voltar', companies_path %>
<%= link_to 'Editar', edit_company_path(@company) %>
<%= link_to 'Deletar', company_path(@company), method: :delete, data: { confirm: "Confirma exclusão da empresa: #{@company.name}?" } %>
